body { background-color: #f0f0ff; }
H3 { font-size: 24px; color:yellow; background-color:blue; padding: 5px; }
#chatform {}
.log {
  font-size: 14px; border-bottom: 1px solid #9999ff;
  line-height: 18px;
}
